!!!
%head
  %title= title
  %link{rel: 'stylesheet', href: '/stylesheets/home.css'}
  %script{type: 'text/javascript', src: '/javascripts/closure-library/closure/goog/base.js'}
  %script{type: 'text/javascript', src: '/javascripts/application.js'}
%body
  != body
